{% extends "Projeto_Lembretes/base.html" %}

{% block content %}
    <p>Tópico: {{topic}}</p>
    <p>Anotaçoes: </p>

    <ul>
        {% for entry in entries%}
        <li>
            <p>
                {{entry.data_added | date:'M d,Y H:i'}}
            </p>
            <p>
                {{entry.text | linebreaks }}
            </p>
            <p>
                <a href="{% url 'edit_entry' entry.id %}">Editar anotaçao</a>
            </p>
        </li>
        {%empty%}
        <li>
            Nao foram encontrado registros!
        </li>
        {%endfor%}
    </ul>
    <p>
        <a href="{% url 'new_entry' topic.id %}">Adicione uma nova anotacao</a>
    </p>

{% endblock content %}